# Ігнорувати тимчасові файли та папки
bin/
obj/
.vs/

# Ігнорувати файли конфігурації
appsettings.json
.env

# Ігнорувати файли залежностей
node_modules/
packages/
/DataBase/Населені_Пункти.cs
/DataBase/Населені_Пункти.Designer.cs
/DataBase/Населені_Пункти.resx
